mean-workshop-1/node_modules/**
mean-workshop-2/node_modules/**
mean-workshop-3/node_modules/**
mean-workshop-3/client/vendor/**
mean-workshop-4/client/vendor/**
mean-workshop-4/node_modules/**
mean-workshop-5/client/vendor/**
mean-workshop-5/node_modules/**
