<h1> There are {{users.length}} users</h1>
<table class='table table-striped' ng-show='users.length'>
   <tr>
      <td> User Name</td>
      <td> Edit </td>
      <td> Delete </td>
   </tr>
   <tr ng-repeat='user in users'>
      <td>
         <a  href='/#/user/{{user._id}}/' ng-click="findUser(user._id)">{{user.name}}</a>
         <!--<a ng-click="findUser(user._id)">{{user.name}}</a>-->


      </td>
      <td>
         <!--         <a class="btn btn-inverse"   href="/#/meetup/{{meetup._id}}/edit/" ng-click="findMeetup(meetup._id)">Edit</a>-->
  <a class="btn btn-inverse"   href="/#/meetup/{{meetup._id}}/edit/" ng-click="findMeetup(meetup._id)">Edit</a>

      </td>
      <td>
         <button  class="btn btn-danger" ng-click="deleteMeetup(meetup._id)"> Delete </button>
      </td>
   </tr>
</table>
